:root {
    --neutral-white: #ffffff;

    --neutral-lightgrey-100: #f8f8f8;

    --neutral-dark-700: #111018;
    --neutral-dark-600: #15151e;
    --neutral-dark-500: #1c1b28;
    --neutral-dark-450: #313043;
    --neutral-dark-400: #4a495b;
    --neutral-dark-300: #7e7c92;
    --neutral-dark-200: #a19fb2;
    --neutral-dark-50: #ecebf2;

    --accent-yellow-800: #694502;
    --accent-yellow-500: #faa70d;
    --accent-yellow-100: #feedcd;

    --accent-orange-800: #632603;
    --accent-orange-500: #f65d07;
    --accent-orange-100: #fedfcd;

    --accent-red-700: #8a0a13;
    --accent-red-500: #e7111f;
    --accent-red-100: #fccfd2;

    --accent-purple-600: #4821d9;
    --accent-purple-500: #6134ff;
    --accent-purple-100: #dfd6ff;

    --green-color: #43d85a;

    --main-font: "Manrope";
    --title-line-height: 1.3;
    --main-line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-dark-700);
    color: var(--neutral-lightgrey-100);
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: var(--main-line-height);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

svg,
img {
    display: block;
}

input,
button {
    border: none;
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: var(--title-line-height);
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    position: relative;
    padding: 21px 16px;
    font-size: 14px;
    border-radius: 100px;
    color: var(--neutral-lightgrey-100);
    overflow: hidden;
}
.btn:active::before {
    background: var(--neutral-dark-50);
}
.btn::before {
    position: absolute;
    content: "";
    background-color: var(--neutral-white);
    border-radius: 50%;
    aspect-ratio: 1;
    top: 100%;
    left: 0;
    right: 0;

    transition: all 0.3s ease;
}
.btn:hover::before {
    transform: scale(2);
}
.btn:hover {
    color: var(--neutral-dark-500);
    box-shadow: none;
}

.btn:hover .btn__text {
    padding-left: 0;
    padding-right: 24px;
}

.btn:hover .btn__text::before {
    transform: translateX(-32px);
}

.btn:hover .btn__text::after {
    transform: translateX(-32px);
}

.btn__text {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;
    color: inherit;
    line-height: 1;

    transition: all 0.3s ease;
}

.btn__text::before {
    position: absolute;
    content: "";
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--neutral-lightgrey-100);

    transition: all 0.3s ease;
}
.btn__text::after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70363 3.33325L13.3333 7.99992L8.70363 12.6666L7.80531 11.7611L10.9015 8.6402H2.66663V7.35964H10.9015L7.80531 4.23875L8.70363 3.33325Z' fill='%231C1B28'/%3E%3C/svg%3E");
    right: -32px;
    width: 16px;
    height: 16px;
    color: var(--neutral-dark-500);

    transition: all 0.3s ease;
}

.btn.white {
    background-color: var(--neutral-white);
    color: var(--neutral-dark-500);
}
.btn.white::before {
    background-color: var(--neutral-dark-500);
}
.btn.white:active::before {
    background: var(--neutral-dark-450);
}
.btn:hover.white {
    color: var(--neutral-lightgrey-100);
}
.btn.white .btn__text::before {
    background-color: var(--neutral-dark-500);
}
.btn.white .btn__text::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70363 3.33325L13.3333 7.99992L8.70363 12.6666L7.80531 11.7611L10.9015 8.6402H2.66663V7.35964H10.9015L7.80531 4.23875L8.70363 3.33325Z' fill='%23F8F8F8'/%3E%3C/svg%3E");
}

.btn.black {
    background-color: var(--neutral-dark-500);
}

.main__title {
    font-size: clamp(26px, 4vw, 70px);
    line-height: var(--title-line-height);
}

.main__title span {
    font-size: clamp(26px, 4vw, 70px);
    line-height: var(--title-line-height);
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 14px;
    transform: translateY(0);
    will-change: transform;
}

.header .container {
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 11px 56px;

    background-color: rgba(17, 16, 24, 0.85);
    /* border-radius: 25px; */
    /* margin: 10px 20px; */

    /* background: rgba(248, 248, 248, 0.8); */
    backdrop-filter: blur(6px);
}

.header .burger {
    display: none;
}

.header .icon {
    background-color: #1c1b28;
    border-radius: 50%;
    padding: 17px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu__item a {
    padding: 16px;
    display: block;
    opacity: 0.8;
}

.menu__item {
    border-radius: 50px;
}

.menu__item--services {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--neutral-white);
    background-color: var(--neutral-dark-500);

    transition: all 0.15s ease;
}

.menu__item--services.active {
    background-color: var(--neutral-lightgrey-100);
    color: var(--neutral-dark-700);
}

.menu__item--services::before {
    opacity: 0;
    animation: fade 0.15s ease;
}

.menu__item--services.active::before {
    position: absolute;
    content: "";
    display: inline-block;
    opacity: 1;
    width: 51px;
    height: 20px;
    bottom: -20px;
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='20' viewBox='0 0 51 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51 0H0C5.70026 0 10.3214 4.47725 10.3214 10C10.3214 15.5227 5.70026 20 0 20H51C45.2997 20 40.6786 15.5227 40.6786 10C40.6786 4.47725 45.2997 0 51 0Z' fill='%23F8F8F8'/%3E%3C/svg%3E");
}

.menu__item--services circle {
    fill: var(--neutral-lightgrey-100);
    transition: all 0.15s ease;
}

.menu__item--services.active circle {
    fill: var(--neutral-dark-500);
}

.menu__item--services a {
    display: flex;
    opacity: 1;
}

.phone__info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.phone__icon {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 17px;
    display: inline-block;
    border-radius: 50%;
}

.phone__icon::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: var(--green-color);
    border: 6px solid rgb(67, 216, 90, 0.15);
    border-radius: 50%;

    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;

    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;

    animation: increase 1s ease infinite alternate;
}

@keyframes increase {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

.phone__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.phone__link {
    font-weight: 700;
}

.phone__desc {
    font-size: 12px;
    color: var(--green-color);
}

.services__menu {
    position: fixed;
    z-index: 200;
    display: none;
    top: 82px;
    width: 100%;

    /* transform: translate3d(0, 1000px, 0); */
    opacity: 0;

    animation: fade 0.3s ease;
}

@keyframes fade {
    0% {
        /* transform: translate3d(0, 1000px, 0); */
        opacity: 0;
    }
    100% {
        /* transform: translate3d(0, 0px, 0); */
        opacity: 1;
    }
}

.services__menu.active {
    display: block;
    /* transform: translate3d(0, 0px, 0); */
    opacity: 1;
}

.services__menu .container {
    display: flex;
    gap: 10px;
}

.services__left {
    background-color: var(--neutral-lightgrey-100);
    color: var(--neutral-dark-700);
    display: flex;
    height: 430px;
    flex-grow: 1;
    border-radius: 30px;
    padding: 10px;
}

.services__right {
    color: var(--neutral-dark-700);
    height: 430px;
    aspect-ratio: 3.44 / 4.3;
    border-radius: 30px;
}

.card {
    color: var(--neutral-lightgrey-100);
    border-radius: inherit;
    height: 100%;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 32px;
    border-radius: 20px;
}

.card.purple {
    background-color: var(--accent-purple-500);
    color: var(--accent-purple-100);
}

.card.orange {
    background-color: var(--accent-orange-500);
    color: var(--accent-orange-100);
    aspect-ratio: 3.1 / 4.1;
}

.title {
    font-weight: 500;
    font-size: 46px;
}

.card__title,
.services__card-title,
.services__info-title,
.numbers-card__title {
    font-size: 36px;
    font-weight: 500;
}

.card__text,
.services__card-text,
.services__info-text,
.numbers-card__text {
    font-size: 16px;
    max-width: 250px;
}

.services__content {
    color: var(--neutral-dark-700);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__info {
    padding: 22px 32px;
}

.services__info-text {
    margin-top: 20px;
}

.services__tabs {
    padding: 32px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.services__tab a {
    padding: 17px 24px;
    border-radius: 50px;
    background-color: var(--neutral-white);
    color: var(--neutral-dark-700);
    font-size: 14px;
    display: block;
}

.main .container {
    padding-top: 120px;
    padding-bottom: 140px;
}

div .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
}

.main__subtitle {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    background: linear-gradient(90deg, #f60716 0%, #f65d07 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    padding-left: 16px;
}

.main__subtitle::before {
    position: absolute;
    content: "";
    left: 0;
    width: 6px;
    height: 25px;

    background-color: var(--accent-red-700);
    border-radius: 3px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main__title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 55px;
    color: var(--neutral-lightgrey-100);
    text-align: center;
    text-wrap: balance;
    -webkit-text-wrap: balance; /* Для Safari 17+ */
}

.main__circles {
    display: inline-flex;
    position: relative;
    top: 15px;
}

.circle {
    width: 66px;
    height: 66px;

    border: 4px solid var(--neutral-dark-700);
    border-radius: 50%;
}

.circle.red {
    background-color: var(--accent-red-500);
}
.circle.yellow {
    margin-left: -16px;
    background-color: var(--accent-yellow-500);
}
.circle.purple {
    margin-left: -16px;
    background-color: var(--accent-purple-500);
}

.badgeered.grey {
    color: var(--neutral-dark-200);
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 437px;
    width: 100%;
    height: 64px;
}

.main-form {
    margin-top: 56px;
}

.phone-input,
.input-container {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 100px;
}

.phone-input {
    padding-left: 30px;
    background-color: var(--neutral-dark-500);
    outline: 1px solid var(--neutral-dark-400);
    border: none;
    color: var(--neutral-white);
}

.phone-input::placeholder {
    color: var(--neutral-dark-200);
    opacity: 1;
}

.country-code {
    display: none;
}

.submit-btn {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 100px;
    /* padding: 18px; */

    font-weight: 600;

    color: var(--neutral-lightgrey-100);
    background: linear-gradient(90deg, #f60716 0%, #f65d07 100%);
    box-shadow: 0px 10px 30px rgba(246, 7, 22, 0.25);
}

.submit-btn .btn__text::before {
    background-color: var(--neutral-lightgrey-100);
}

.main__desc {
    margin-top: 32px;
    font-size: 18px;
    color: var(--neutral-dark-200);
    /* text-wrap: balance; */
    max-width: 380px;
    text-align: center;
}

.main__desc .bold {
    font-weight: 600;
}

.main__bg {
    top: 488px;
    position: absolute;
    z-index: -9;
    width: 100%;
    height: 658px;
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center 100px;

    animation: run 5s ease; */
}

.main__radial {
    position: absolute;
    z-index: -10;
    width: 2284px;
    height: 2284px;
    top: -780px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    /* Аппаратное ускорение */
    transform: translate3d(-50%, 0, 0);

    background: radial-gradient(72.15% 72.15% at 50% 27.85%, #111018 64.38%, #e7111f 80.18%, #fedfcd 100%);
    -webkit-backface-visibility: hidden; /* Исправляет артефакты в Safari */
    filter: blur(175px);
    -webkit-filter: blur(175px); /* Префикс для Safari */
}

/* @keyframes run {
    0% {
        background-position: center 0;
    }
    100% {
        background-position: center 100px;
    }
} */

.main-signs {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 40px;
    width: 100%;
}

.sign {
    display: flex;
    border-radius: 30px;
    background-color: var(--neutral-dark-400);
    padding: 40px 24px;
    flex: 1;
}
.sign-1,
.sign-3 {
    aspect-ratio: 3.6 / 4.4;
}
.sign-2 {
    aspect-ratio: 3.6 / 3.2;
}

.sign-1 {
    background-color: var(--neutral-dark-600);
    color: var(--neutral-lightgrey-100);

    align-items: flex-start;
    justify-content: space-between;

    background-image: url("../assets/images/wda-card.jpg");
    background-size: cover;
}
.sign-2 {
    background-color: var(--accent-red-500);
    color: var(--accent-red-100);

    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 20px 250px 20px rgba(231, 17, 31, 0.75);

    background-image: url("../assets/images/runet-card.jpg");
    background-size: cover;
}
.sign-3 {
    background-color: var(--accent-purple-500);
    color: var(--accent-purple-100);

    flex-direction: column;
}

.sign__title {
    font-size: 36px;
    font-weight: 500;
}

.sign__desc {
    max-width: 150px;
    font-size: 16px;
    text-wrap: balance;
}

.sign__circles {
    display: flex;
    margin-top: 30px;
}

.sign__circles .circle {
    border-width: 0;
}

.sign__circles .circle.purple {
    background-color: var(--accent-purple-600);
}

.sign-3 .sign__desc {
    margin-top: auto;
}

.services {
    color: var(--neutral-dark-500);
}

.bordered-shape {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--neutral-lightgrey-100);
    border-radius: 70px;
}

.badge {
    display: inline-block;
    padding: 20px 24px;
    font-size: 14px;
    border-radius: 100px;
}

.badge.orange {
    background-color: var(--accent-orange-100);
    color: var(--accent-orange-500);
}

.services__badge {
    background-color: var(--accent-red-100);
    color: var(--accent-red-500);
}

.heading {
    display: flex;
}

.services__title {
    font-size: 46px;
    text-wrap: balance;
}

.badge-area {
    min-width: 200px;
}

.services-box {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(6, 1.6fr);
    grid-template-rows: repeat(3, 4.7fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.services__card {
    background-color: var(--neutral-white);
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services__card a {
    display: block;
    width: 100%;
    height: 100%;
}
.services__card-1 {
    grid-area: 1 / 1 / 2 / 3;
    aspect-ratio: 3.6 / 4.7;
}
.services__card-2 {
    grid-area: 1 / 3 / 2 / 7;
    background-color: var(--accent-orange-500);
    color: var(--accent-orange-100);
}
.services__card-3 {
    grid-area: 2 / 1 / 3 / 4;
    background-color: var(--accent-yellow-500);
    color: var(--accent-yellow-800);
}
.services__card-4 {
    grid-area: 2 / 4 / 3 / 7;
    background-color: var(--accent-purple-500);
    color: var(--accent-purple-100);
}
.services__card-5 {
    grid-area: 3 / 1 / 4 / 7;
    background-color: var(--neutral-dark-500);
    background-image: url("../assets/images/services-form-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--neutral-lightgrey-100);
}

.services__card-2 .badge {
    background-color: var(--accent-orange-100);
    color: var(--accent-orange-500);
}

.services__card-3 .badge {
    background-color: var(--accent-yellow-100);
    color: var(--accent-yellow-500);
}

.services__card-4 .badge {
    background-color: var(--accent-purple-100);
    color: var(--accent-purple-500);
}

.services__card-title {
    margin-top: 56px;
    font-size: 36px;
    font-weight: 500;

    max-width: 365px;
}

.services__card-5 .services__card-title {
    margin-top: 32px;

    max-width: 450px;
}

.services__card-5 .services__card-text {
    margin-top: 32px;
}

.services__card-text {
    margin-top: 30px;
    max-width: 365px;
    font-size: 16px;
}

.services__card svg {
    margin-top: auto;
}

.services__card-3 svg path {
    fill: var(--accent-yellow-800);
}

.semibold {
    font-weight: 600;
}

.quote {
    font-size: 46px;
    font-weight: 600;
    color: var(--accent-orange-500);
}

.services__card-1 .services__card-text {
    font-size: 18px;
    margin-top: 16px;
}

a.services__link {
    margin-top: 36px;
    height: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--accent-purple-500);
    font-weight: 600;
}

.author {
    margin-top: auto;
    display: flex;
    gap: 16px;
    align-items: center;
}

.author img {
    border-radius: 50%;
}

.author__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.author__name {
    font-size: 18px;
    font-weight: 600;
}

.author__post {
    font-size: 12px;
}

.services-form {
    margin-top: 32px;
}

.numbers {
    position: relative;
    padding-bottom: 130px;

    background-color: var(--neutral-lightgrey-100);
    color: var(--neutral-dark-500);
}

.numbers .container {
    position: relative;
    padding-top: 240px;
    z-index: 10;
}

.numbers__bg {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    height: 835px;
}

.numbers__bg svg {
    width: 100%;
}

.numbers__subtitle {
    background: linear-gradient(90deg, #f60716 0%, #f65d07 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 600;
}

.numbers__title {
    margin-top: 16px;
}

.numbers-cards {
    margin-top: 56px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

[class*="numbers-card-"] {
    display: flex;
    flex-direction: column;

    border-radius: 30px;
    background-color: var(--neutral-white);
    padding: 40px;
    aspect-ratio: 3.6 / 4.4;

    flex: 1;

    background-size: cover;
    background-repeat: no-repeat;
}

.numbers-card-1 {
    justify-content: space-between;
    background-image: url("../assets/images/numbers-card-1-bg.jpg");
}

.numbers-card-2 {
    background-image: url("../assets/images/numbers-card-2-bg.jpg");
}

.numbers-card-3 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    color: var(--neutral-lightgrey-100);
    background-color: var(--accent-orange-500);

    background-image: url("../assets/images/numbers-card-3-bg.jpg");
    color: var(--accent-orange-100);
}

.numbers-card-2 .numbers-card__text {
    margin-top: 24px;
}

.numbers-card-3 .numbers-card__text {
    max-width: 105px;
}

.cases {
    background-color: var(--neutral-lightgrey-100);
    color: var(--neutral-dark-500);
}

.cases .container {
    padding-top: 240px;
}

.cases__title {
    text-wrap: balance;
}

.cases-tabs {
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 620px;
}

.tab {
    padding: 20px 24px;
    border-radius: 100px;
}

.cases__tab {
    background-color: var(--neutral-white);
    transition: all 0.15s ease;
}

.cases__tab.active {
    background-color: var(--neutral-dark-500);
    color: var(--neutral-lightgrey-100);
}

.cases__box {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* align-items: start; */
}

/* .cases__item .case__img-wrapper {
    aspect-ratio: 1;
}

.cases__item:nth-child(9n + 2) .case__img-wrapper,
.cases__item:nth-child(9n + 4) .case__img-wrapper,
.cases__item:nth-child(9n + 9) .case__img-wrapper {
    aspect-ratio: 3.6 / 4.9;
} */

.case__img-wrapper {
    position: relative;
    aspect-ratio: 3.6 / 4.9;
    background-color: var(--accent-orange-500);
    border-radius: 30px;
    overflow: hidden;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.case__img-wrapper img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.cases__badges {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    max-width: 240px;
    flex-wrap: wrap;
}

.badge-small {
    padding: 8px;
    border-radius: 100px;
    background-color: var(--accent-orange-800);
    color: var(--accent-orange-100);
}

.case__item-info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.case__desc {
    color: var(--neutral-dark-400);
    font-size: 16px;
}

.cases__btn {
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer .container {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__category {
    max-width: 185px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--neutral-dark-300);
}

.category__link {
    margin-bottom: 8px;
    color: var(--neutral-lightgrey-100);
    font-weight: 600;
}

.category__link:first-of-type {
    display: flex;
    align-items: center;
}

.category__link-arrow {
    display: none;
    background-color: var(--neutral-dark-500);
    padding: 8px;
    border-radius: 50%;
}

.footer__link {
    width: max-content;
}
.category__link-arrow {
    margin-left: auto;
}
.footer__cards {
    flex-grow: 1;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer__cards .card {
    flex: 1 1 0;
    aspect-ratio: unset;
    padding: 40px 24px;
    justify-content: space-between;
    align-self: stretch;
    /* flex-direction: row; */
    height: unset;
    border-radius: 30px;
}

.footer__cards .card__title {
    font-size: 26px;
}

.footer__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer__btn {
    border-radius: 50%;
    background-color: var(--neutral-dark-500);
    padding: 17px;
    display: inline-block;
}

.footer__contact {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__contacts-text {
    font-size: 16px;
    font-weight: 600;
    margin-right: auto;
}

.footer__messengers {
    display: flex;
    align-items: center;
    gap: 8px;
}

.divider {
    background-color: var(--neutral-dark-450);
    width: 100%;
    height: 1px;
}

.footer__info {
    font-size: 12px;
    color: var(--neutral-dark-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

@media screen and (max-width: 1280px) {
    .header nav {
        order: 1;
    }
    .header nav .menu {
        display: none;
    }
    .header .burger {
        display: block;
    }
    .phone__info {
        margin-left: auto;
    }
    .header .icon svg {
        width: 16px;
        height: 16px;
    }
    .header .container {
        padding: 11px 32px;
    }
    .container {
        padding: 0 32px;
    }
    .btn {
        padding: 17px 16px;
        font-size: 12px;
    }
    .footer__contacts {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .footer__contacts-text {
        font-size: 14px;
    }
    .footer__info {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer svg {
        width: 16px;
        height: 16px;
    }
}
@media screen and (max-width: 640px) {
    .phone__text {
        display: none;
    }
    .header .container {
        gap: 16px;
    }
    .header .container {
        padding: 11px 16px;
    }
    .container {
        padding: 0px 16px;
    }
    .header .logo img {
        width: 122px;
    }
    .footer__top .logo img {
        width: 150px;
    }
    .footer__links {
        flex-direction: column;
        gap: 40px;
    }
    .footer__category {
        max-width: none;
        gap: 24px;
    }
    .category__link {
        width: 100%;
    }
    .category__link-arrow {
        display: inline-block;
    }
    .footer__cards {
        margin-left: 0;
        flex-direction: column;
    }
    .footer__cards .card {
        padding: 24px 16px;
    }
    .footer__cards .card__title {
        font-size: 20px;
    }
    .footer__contacts {
        gap: 24px;
    }
}
